/* GLOBAL  */
:root {
    --color-main: #b99150;
    --color-orange: #ffaf18;
}

@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 400;
    src: local("Muller"),
        url('../fonts/MullerRegular.woff2') format('woff2'),
        url('../fonts/MullerRegular.woff') format('woff'),
        url('../fonts/MullerRegular.ttf') format('truetype'),
        url('../fonts/MullerRegular.eot') format('embedded-opentype');
}

@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 900;
    src: local("Muller"),
        url('../fonts/MullerBold.woff2') format('woff2'),
        url('../fonts/MullerBold.woff') format('woff'),
        url('../fonts/MullerBold.ttf') format('truetype'),
        url('../fonts/MullerBold.eot') format('embedded-opentype');
}

@font-face {
    font-family: "Muller";
    font-style: normal;
    font-weight: 800;
    src: local("Muller"),
        url('../fonts/MullerExtraBold.woff2') format('woff2'),
        url('../fonts/MullerExtraBold.woff') format('woff'),
        url('../fonts/MullerExtraBold.ttf') format('truetype'),
        url('../fonts/MullerExtraBold.eot') format('embedded-opentype');
}

body {
    font-family: "Muller", "Arial", sans-serif;
    color: var(--color-main);
    font-size: 16px;
}

body.lock {
    overflow: hidden;
}

*,
::before,
::after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

button {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

input {
    padding: 0;
    margin: 0;
    outline: none;
    color: inherit;
    background: none;
    cursor: pointer;
}

h1, h2, h3, p {
    padding: 0;
    margin: 0;
    font-size: inherit;
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    text-align: center;
    color: black;
    background-color: var(--color-orange);
    font-weight: 700;
    -webkit-transition: background-color 0.5s linear;
    -o-transition: background-color 0.5s linear;
    transition: background-color 0.5s linear;
}

.btn:hover {
    background-color: var(--color-main);
}

/* header */
.header {
    min-height: 100px;
    -webkit-box-shadow: 0 3px 15px 8px rgba(152, 152, 152, 0.2);
            box-shadow: 0 3px 15px 8px rgba(152, 152, 152, 0.2);
}


.header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 13px;
    padding-bottom: 13px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.header__logo {
    margin-right: 240px;
    z-index: 50;
}

.menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.menu__item:not(:last-child) {
    margin-right: 50px;
}

.burger {
    display: none;
    position: relative;
    width: 36px;
    height: 28px;
}

.burger__line {
    position: absolute;
    height: 4px;
    left: 0;
    top: 40%;
    width: 79%;
    background-color: var(--color-main);
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition: width 0.5s ease-in-out;
    -o-transition: width 0.5s ease-in-out;
    transition: width 0.5s ease-in-out;
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    left: 0;
    height: 4px;
    background-color: var(--color-main);
    -webkit-transform-origin: left;
        -ms-transform-origin: left;
            transform-origin: left;
    -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transition-property: width, left, -webkit-transform;
    transition-property: width, left, -webkit-transform;
    -o-transition-property: width, left, transform;
    transition-property: width, left, transform;
    transition-property: width, left, transform, -webkit-transform;
    -webkit-transition-duration: 0.5s;
         -o-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-in-out;
         -o-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
}

.burger::before {
    top: -1px;
    width: 100%;
}

.burger::after {
    top: 23px;
    width: 68%;
}

.burger.active .burger__line {
    width: 0;
}

.burger.active::before,
.burger.active::after {
    width: 38px;
    left: 5px;
}

.burger.active::before {
    top: -2px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
}

.burger.active::after {
    top: 25px;
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

/* hero */
.hero {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    padding-top: 127px;
    padding-bottom: 79px;
}

.hero__content {
    min-width: 660px;
}

.hero__container {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
}

.hero__back {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    background-image: url('../img/hero/pizza.png');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: contain;
}

.hero__title {
    margin-bottom: 42px;
    font-weight: 800;
    font-size: 45px;
    line-height: 1.2;
}

.hero__title span {
    display: block;
    color: var(--color-orange);
}

.hero__list {
    display: -ms-grid;
    display: grid;
    margin-bottom: 57px;
    -ms-grid-columns: minmax(auto, 300px) 48px minmax(auto, 300px);
    grid-template-columns: repeat(2, minmax(auto, 300px));
    row-gap: 37px;
    -webkit-column-gap: 48px;
       -moz-column-gap: 48px;
            column-gap: 48px;
}

.hero__item {
    padding-left: 80px;
    background-repeat: no-repeat;
    background-position: left 5px;
}

.advantage__title {
    color: var(--color-orange);
    font-weight: 700;
}

.dough {
    background-image: url('../img/hero/dough.png');
}

.cook {
    background-image: url('../img/hero/cook.png');
}

.quality {
    background-image: url('../img/hero/quality.png');
}

.recipe {
    background-image: url('../img/hero/recipe.png');
}

.hero__button {
    max-width: 250px;
    min-height: 60px;
    padding-left: 53px;
    padding-right: 53px;
}

/* pizza */
.pizza {
    padding-top: 79px;
    padding-bottom: 118px;
}

.pizza__title {
    margin-bottom: 54px;
    text-align: center;
    font-weight: 700;
    font-size: 35px;
}

.pizza__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-column-gap: 24px;
       -moz-column-gap: 24px;
            column-gap: 24px;
    row-gap: 23px;
}

.pizza__item,
.modal__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 274px;
    min-height: 357px;
    padding-left: 17px;
    padding-right: 17px;
    padding-bottom: 20px;
    padding-top: 20px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0px 3px 14px 1px rgba(152, 152, 152, 0.2);
            box-shadow: 0px 3px 14px 1px rgba(152, 152, 152, 0.2);
}

.pizza__item:hover {
    -webkit-animation: 2s pulse;
            animation: 2s pulse;
}

@-webkit-keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

@keyframes pulse {
	0% {
		-webkit-transform: scale(1);
		        transform: scale(1);
	}
	50% {
		-webkit-transform: scale(1.1);
		        transform: scale(1.1);
	}
    100% {
        -webkit-transform: scale(1);
                transform: scale(1);
    }
}

.pizza__image {
    cursor: pointer;
}

.pizza__image,
.modal__image {
    margin-bottom: 16px;
    min-height: 155px;
    -o-object-fit: none;
       object-fit: none;
}


.pizza__name,
.modal__name {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 18px;
}

.pizza__compound,
.modal__compound {
    margin-bottom: 15px;
    font-size: 14px;
}

.pizza__name,
.pizza__compound,
.modal__name,
.modal__compound {
    text-align: center;
    color: black;
}

.pizza__button,
.modal__button {
    width: 100%;
    min-height: 48px;
    margin-top: auto;
}

/* call */
.call {
    padding-top: 113px;
    padding-bottom: 104px;
    overflow: hidden;
}

.call__container {
    position: relative;
}

.call__container::after {
    position: absolute;
    content: '';
    right: -9%;
    top: -60px;
    width: 410px;
    height: 454px;
    background-image: url('../img/call/pizza.png');
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
}

.call__title {
    margin-bottom: 7px;
    color: var(--color-orange);
    font-weight: 800;
    font-size: 35px;
}

.call__text {
    max-width: 384px;
    line-height: 1.5;
}

.call__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 126px;
}

.call__subtitle {
    margin-bottom: 65px;
    font-weight: 800;
    font-size: 35px;
    line-height: 1.2;
}

.form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 330px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    gap: 25px;
}

.form__input,
.form__button {
    min-height: 60px;
}

.form__input {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid var(--color-main);
}

.form__input::-webkit-input-placeholder {
    color: var(--color-main);
    font-size: 18px;
}

.form__input::-moz-placeholder {
    color: var(--color-main);
    font-size: 18px;
}

.form__input:-ms-input-placeholder {
    color: var(--color-main);
    font-size: 18px;
}

.form__input::-ms-input-placeholder {
    color: var(--color-main);
    font-size: 18px;
}

.form__input::placeholder {
    color: var(--color-main);
    font-size: 18px;
}

.input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.form__label {
    color: red;
}

/* modal */
.modal[data-target="thanks"] {
    position: fixed;
    display: none;
    padding: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-color: var(--color-main);
    border: 1px solid var(--color-orange);
    color: white;
}

.modal[data-target="thanks"].open {
    display: block;
}


.modal[data-target="product"] {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
}

dialog[open] {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.modal__body {
    position: relative;
    max-width: none;
    width: 50%;
    background-color: white;
}

.modal__image {
    -o-object-fit: contain;
       object-fit: contain;
}

.modal__close-btn {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 20px;
    top: 20px;
}
